{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
    {% if  not user.is_authenticated %}
        <p style="margin-left: 50px; margin-top: 50px">Чтобы управлять постами вам нужно <a
                href="{% url 'account_login' %}">войти</a> или
            <a href="{% url 'account_signup' %}">зарегестрироваться</a>.
            <br> Так же вы можете посмотреть все посты <a href="{% url 'AllPosts' %}">тут</a>
            <br> Чтобы экспортировать посты в PDF, вам нужно войти на сайт.</p>
    {% else %}
        <p style="margin-top: 20px; margin-left: 50px"> Создайте свой пост
            <a href="{% url 'createpost' %}">
                <button type="button" class="btn btn-success">Создать</button>
            </a>
        </p>
        <p style="margin-left: 50px"> Экспортируйтепосты </p>
        <div style="margin-left: 50px">
            <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                    Экспортировать
                </a>

            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <form action="{% url 'exportPdf' %}">
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label> Начало периода </label>
                                {{ form.first_data }}
                            </div>
                            <div class="form-group col-md-2">
                                <label>Конец периода</label>
                                {{ form.second_data }}
                            </div>
                            <div class="form-group col-md-2">
                                <label>Пользователь</label>
                                {{ form.user }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Создать пдф</button>
                    </form>
                </div>
            </div>
        </div>




        {% for object in object_list %}


            <div class="card" style="width: 20rem; margin: 50px auto auto">
                <a href="{{ object.get_absolute_url }}">
                    {% if object.image %}
                        <img src="{{ object.image.url }}" class="card-img-top" alt="...">
                    {% endif %}
                    <div style='text-align: center' class="card-body">
                        <h5 class="card-title">{{ object.title }}</h5>
                        <hr>

                        <p class="card-text"> {{ object.text }}</p>
                        <hr>
                </a>
                <div style="text-align: left"><small class="card-text"> Пост
                    написан: {{ object.author }}</small>
                    <br>
                    <small class="card-text"> Опубликован: {{ object.created }}</small>
                    <br>
                    <small class="card-text"> Категория : {{ object.category }}</small></div>
                <br>
                <div class="btn-group" role="group" aria-label="Basic example">


                    <form method="post" action="{% url 'DeletePost' object.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>

                    <a href="{% url 'PostUpdate'  object.pk %}">
                        <button type="button" class="btn btn-warning">Редактировать</button>
                    </a>

                </div>
            </div>
            </div>

        {% empty %}
            <h3> У вас пока нету постов </h3>

        {% endfor %}

    {% endif %}

{% endblock %}
</body>
</html>